// Configuration from previous exercises
singularity {
	enabled = true
	cacheDir = "/scratch/${env('USER')}/singularity_cache" 
	// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
	runOptions = '--bind /localscratch'
}

executor {
	queueSize = 3
}

// This will apply to all processes unless overridden at the process level
process {
	executor = 'slurm' // Configuration from previous exercises
	queue = 'cpuq'  // Configuration from previous exercises

	cpus = 4 // Configuration from previous exercises
	memory = 8.GB // Configuration from previous exercises
	time = 2.h // Configuration from previous exercises

	beforeScript = 'module load singularityce/3.10.3' // Configuration from previous exercises
}