params {
	// Input/output params
	input_file = '' //input file table TSV: sample_id, fastq_R1, fastq_R2
	reference_genome = '' //path to reference genome fasta file
	outdir = 'results' //output directory

	// Advanced params
	publish_mode = 'copy'
    
	// nf-core profiles config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    hostnames                  = [:]
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null
}

// Computational environments

conda.enabled           = false
conda.channels          = ['conda-forge', 'bioconda']
docker.enabled          = false
singularity.enabled     = true

process.executor = "slurm"
process.queue = "cpuq"


process {

  withName: 'PREPARE_GENOME:SAMTOOLS_FAIDX' {
	cpus = 4
	memory = 8.GB
  }

  withName: 'FASTP' {
	cpus = 4
	memory = 8.GB
  }

  withName: 'PREPARE_GENOME:GATK4_CREATESEQUENCEDICTIONARY' {

    cpus = 4
    memory = 8.GB
  }

  withName: 'ALIGNMENT:BWA_MEM' {

	cpus = 4
	memory = 8.GB
  }

  withName: 'ALIGNMENT:SAMTOOLS_MERGE' {
	cpus = 4
	memory = 8.GB
  }
}
