// Configuration from previous exercises
singularity {
	enabled = true
	cacheDir = "/scratch/${env('USER')}/singularity_cache" 
	// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
	runOptions = '--bind /localscratch'
}

executor {
	queueSize = 3
}

// This will apply to all processes unless overridden at the process level
process {
	executor = 'slurm' // Configuration from previous exercises
	queue = 'cpuq'  // Configuration from previous exercises

	// This configure the maximum available resources for your system (usually a single HPC node)
	// This ensures the dynamic allocation of resources does not exceed these limits
	resourceLimits = [
        cpus: 32,
        memory: 550.GB,
        time: 30.d
    ]

	// We set errorStrategy dynamically
	// We evalute the error reason by looking at the error code stored in task.exitStatus
	// When the error code indicate out of memory / time / scheduler errors, we retry, otherwise error out
    errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'finish' }

	//You can also use a range of exit codes like this:
	// errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    
	// This limits the number of retries for each task to 3 to avoid infinite loops
	maxRetries = 3

	// Instead of a fixed resource allocation, we use a dynamic allocation based on the number of attempts
	// The task.attempt property contains the current attempt number (1 for the first attempt, 2 for the first retry, etc.)
	// When a process fails and is retried, it will be allocated more resources
	cpus   = { 2 	* task.attempt }            
    memory = { 8.GB * task.attempt }
    time   = { 1.m  * task.attempt }

	beforeScript = 'module load singularityce/3.10.3' // Configuration from previous exercises
}