nextflow.enable.dsl = 2

params {
    input_file       = "${projectDir}/assets/test_input.tsv"
    reference_genome = '/processing_data/reference_datasets/iGenomes/2025.1/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa'  // point to the rebuilt copy
    outdir           = 'results'
    publish_mode     = 'copy'
}

singularity {
	enabled     = true
	autoMounts  = true
}

process {
    stageInMode = 'copy'  // copy all inputs into the task dir (no absolute symlinks)
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
        cpus = 4
    }
    withName: BWA_MEM {
        container = 'community.wave.seqera.io/library/bwa_htslib_samtools:83b50ff84ead50d0'
        cpus = 4
    }
}
