nextflow.enable.dsl = 2

params {
    input_file       = "${projectDir}/assets/test_input.tsv"
    outdir           = 'results'
    publish_mode     = 'copy'
}

singularity {
  // Enable Singularity support
  enabled = true
  // mount user's home directory into the container
  autoMounts = true
  // Specify a custom cache directory. Essential for shared environments.
  // cacheDir = '/path/to/singularity/cache'
  // Ensure a clean environment for each run
  runOptions = '--cleanenv'
}



process {
    container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
}
