// Pipeline  metadata
manifest {
    name            = 'nf_zero2hero'
    author          = """Edoardo Giacopuzzi"""
    homePage        = 'https://github.com/HTGenomeAnalysisUnit/nextflow-zero2hero/tree/main/practicals/full_workflow'
    description     = """A simple complete workflow for variant calling from FASTQ files."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04'
    version         = '1.0.0'
    doi             = ''
}