// Minimal default resources in case no profile is used 
process {
	cpus   = 1           
    memory = 8.GB
    time   = 1.m 
}

// The following part implement the nf-core institutional profiles loading
// You can reuse this code snippet in your own pipelines to easily load nf-core institutional profiles
params {
	// nf-core profiles config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    hostnames                  = [:]
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null
}

includeConfig (
    params.custom_config_base 
        ? "${params.custom_config_base}/nfcore_custom.config" 
        : '/dev/null'
)

// Here we define the local and singularity profiles
profiles {
	// This is the local profile, for when we are running small tests locally
	local {
		executor.cpus = 4
		executor.memory = 16.GB

		process {
			executor = 'local' // We execute on local
			errorStrategy = 'finish' // We don't retry failed tasks in local

			cpus   = 2           
    		memory = 8.GB
    		time   = 5.m 

			beforeScript = 'module load singularityce/3.10.3'

			withName: 'HAPLOTYPECALLER_GPU' {
				queue = 'gpuq'
				containerOptions = '--nv'
				clusterOptions = '--gres=gpu:1'
			}
		}
	}

	// We define a specific profile that allows us to quickly enable singularity settings
	singularity {
        singularity {
			enabled = true
			cacheDir = "/scratch/${env('USER')}/singularity_cache" 
			// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
			runOptions = '--bind /localscratch'
		}
    }
}

// Pipeline  metadata
manifest {
    name            = 'nf_zero2hero'
    author          = """Edoardo Giacopuzzi"""
    homePage        = 'https://github.com/HTGenomeAnalysisUnit/nextflow-zero2hero/tree/main/practicals/full_workflow'
    description     = """A simple complete workflow for variant calling from FASTQ files."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04' // This is the critical settings used to restrict the Nextflow version to ensure compatibility
    version         = '1.0.0'
    doi             = ''
}