// Configuration from previous exercises
singularity {
	enabled = true
	cacheDir = "/scratch/${env('USER')}/singularity_cache" 
	// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
	runOptions = '--bind /localscratch'
}

executor {
	queueSize = 3
}

// This will apply to all processes unless overridden at the process level
process {
	executor = 'slurm' // Configuration from previous exercises
	queue = 'cpuq'  // Configuration from previous exercises

	// Configuration from previous exercises
	resourceLimits = [
        cpus: 32,
        memory: 550.GB,
        time: 30.d
    ]

	// Configuration from previous exercises
    errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'finish' }
	maxRetries = 3

	cpus   = { 2 	* task.attempt }            
    memory = { 8.GB * task.attempt }
    time   = { 1.m  * task.attempt }

	beforeScript = 'module load singularityce/3.10.3'
}

// This will include the content of the configured file
// If there are any conflicting settings, the ones in that file will override the ones defined above
includeConfig 'process_labels_part1.config'

// Then for part2 of the exercise, you can switch to this file instead
// includeConfig 'process_labels_part2.config'