// Use this with the gpu workflow in the day3/1-advanced_config/workflow_gpu directory
process {
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 4.GB  * task.attempt }
        time   = { 5.m   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 32.GB * task.attempt }
    }
    // Here we defince resources by process name
    // If combined with labels, the values from here will override the label values when there are conflicting settings
    withName: 'HAPLOTYPECALLER_GPU' {
        cpus = 8
        queue = 'gpuq'
        containerOptions = '--nv'
        clusterOptions = '--gres=gpu:1'
    }
}