// Use this with the standard workflow in the day3/1-advanced_config/workflow directory
process {
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 4.GB  * task.attempt }
        time   = { 5.m   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 32.GB * task.attempt }
    }
}