

params {
	input_file = '../test_input.tsv'
    outdir = 'results'
    reference_genome = "${projectDir}/../reference/chr21.fa" //'/processing_data/reference_datasets/iGenomes/2025.1/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa'

    publish_mode = 'copy'
}

process {

    queue = "cpuq"

	// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    withName: FASTP {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
        publishDir = [
            [
                path: "${params.outdir}/reads_qc/fastp",
                mode: params.publish_mode,
            ]
        ]
    }

    withName: BWA_MEM {
        cpus = 4
        memory = 24.Gb
        container = 'community.wave.seqera.io/library/bwa_htslib_samtools:83b50ff84ead50d0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/bwa",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: SAMTOOLS_SORT {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/samtools:1.22--h96c455f_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/merged_bam",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: MOSDEPTH {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/mosdepth:0.3.12--h0ec343a_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/coverage",
                mode: params.publish_mode,
            ]
        ]
    }

    withName: DEEPVARIANT {
        cpus = 4
        memory = 24.Gb
        container = 'docker.io/google/deepvariant:1.9.0'
        containerOptions = "--bind /localscratch/"
        publishDir = [
            [
                path: "${params.outdir}/variant_calling/variants",
                mode: params.publish_mode,
            ]
        ]
    }
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = "${projectDir}/../singularity_cache/"
}

executor {
	name = "slurm"
}

tower {
	enabled = true
	accessToken = secrets.TOWER_TOKEN
}