// Minimal default resources in case no profile is used 
process {
	cpus = 1
	memory = 8.GB
	time = 1.m
}

// Profiles definition, each profile is defined as a separate block
// Settings from profiles override equivalent settings in the root scope
// Inside each profile, you can use and define any valid configuration option and scope
// Remember profiles can be combined when running Nextflow using the -profile profile1,profile2
// Settings from each profile are collapsed in the order they appear in the config file
// This will change in the future and they will be collapsed in the order they are called in the command line
profiles {
	// This is the local profile, for when we are running small tests locally
	local {
		// Here we use the executor cpus and memory settings to limit resource usage
		executor.cpus = 4
		executor.memory = 16.GB

		// Here we configure the process resureces and settings
		process {
			executor = 'local'
			// We execute on local
			errorStrategy = 'finish'
			// We don't retry failed tasks in local

			// We set a static resource allocation for all processes in local
			// We suppose to be on a small local interactive session or machine
			cpus = 2
			memory = 8.GB
			time = 5.m

			// This is still needed if we are using singularity containers
			beforeScript = 'module load singularityce/3.10.3'

			// We can include any withName or withLabel selectors here as well
			withName: HAPLOTYPECALLER_GPU {
				queue = 'gpuq'
				containerOptions = '--nv'
				clusterOptions = '--gres=gpu:1'
			}
		}
	}

	// This is the slurm profile for running on the HPC cluster with slurm scheduler
	slurm {
		executor.queueSize = 3
		// Limit the number of concurrent tasks in the queue

		// Configure the general process settings for slurm	
		process {
			executor = 'slurm'
			queue = 'cpuq'

			beforeScript = 'module load singularityce/3.10.3'

			resourceLimits = [
				cpus: 32,
				memory: 550.GB,
				time: 30.d,
			]

			// On slurm we want to retry tasks that fail due to OOM or preemption
			errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'finish' }
			maxRetries = 3
		}
		singularity.runOptions = '--cleanenv--bind /localscratch'
		// We can also include other config files in the profiles
		// Here we include the process labels config file
		includeConfig 'process_labels.config'
	}

	// We define a specific profile that allows us to quickly enable singularity settings
	singularity {
		singularity {
			enabled = true
			libraryDir = "/project/nextflow_zero2hero/containers"
			cacheDir = "/scratch/${env('USER')}/singularity_cache"
		}
	}
}
