params {
	// Input/output params
	//input file table TSV: sample_id, fastq_R1, fastq_R2
	input_file = '/project/nextflow_zero2hero/practicals/day3/1-advanced_config/inputs/input_data.tsv' 
	//path to reference genome fasta file
	reference_genome = '/project/nextflow_zero2hero/data/genome_files/genome.fa' 
	outdir = 'results' //output directory

	// Advanced params
	publish_mode = 'copy'
}