params {
	input_file = "${projectDir}/test_input.tsv"
    outdir = 'results'
    save_reads = true
    save_html = true
    save_json = true
    
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = '/project/nextflow_zero2hero/containers/'
}

process {

	// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    withName: FASTP {
        cpus = 1
        memory = 4.Gb
        container = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
    }
}