// Configuration from exercise 2
singularity {
	enabled = true
	cacheDir = "/scratch/${env('USER')}/singularity_cache" 
	// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
	runOptions = '--bind /localscratch'
}

// Configuration from exercise 2
executor {
	queueSize = 3
}

// This will apply to all processes unless overridden at the process level
process {
	executor = 'slurm' // Configuration from exercise 2
	queue = 'cpuq'  // Configuration from exercise 2

	cpus = 4 // set number of CPUs for all processes
	memory = 8.GB // set memory for all processes
	time = 2.h // set time for all processes

	beforeScript = 'module load singularityce/3.10.3' // load singularity module before running the script code in any process
}