process {

	// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3


    withLabel:process_low {
        cpus   = { 1                   }
        memory = { 2.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 4                   }
        memory = { 8.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 4                   }
        memory = { 24.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

}