process {

    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
        publishDir = [
            [
                path: "${params.outdir}/reads_qc/fastp",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: RDEVAL {
        publishDir = [
            [
                path: "${params.outdir}/reads_qc/rdeval",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: BWA_MEM {
        container = 'community.wave.seqera.io/library/bwa_htslib_samtools:83b50ff84ead50d0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/bwa",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: SAMTOOLS_SORT {
        container = 'quay.io/biocontainers/samtools:1.22--h96c455f_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/merged_bam",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: SAMTOOLS_STATS {
        container = 'quay.io/biocontainers/samtools:1.22--h96c455f_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/qc",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: MOSDEPTH {
        container = 'quay.io/biocontainers/mosdepth:0.3.12--h0ec343a_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/coverage",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
        publishDir = [
            [
                path: "${params.outdir}/reporting/",
                mode: params.publish_mode,
            ]
        ]
    }

}