process {
	// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 8.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 4     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 24.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 24.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 90.GB * task.attempt }
    }
    withLabel:parabricks_gpu {
        cpus   = { 18    * task.attempt }
        memory = { 90.GB * task.attempt }
        time   = { 12.h  * task.attempt }
        accelerator = 2
        maxForks = 10 
    }

    // This is not needed if using the nf-core/configs profiles
    // These settings are automatically set as part of the humantechnopole nf-core profile
    // resourceLimits = [
    //     cpus: 32,
    //     memory: 550.GB,
    //     time: 30.d
    // ]
    // executor = 'slurm'
    // queue = 'cpuq'
    // beforeScript = 'module load singularity'
    // withLabel: gpu {
    //     resourceLimits = [
    //         cpus: 36,
    //         memory: 1000.GB,
    //         time: 30.d
    //     ]
    //     queue = 'gpuq'
    //     containerOptions = '--nv'
    //     clusterOptions = { task.accelerator ? "--gres=gpu:${task.accelerator.request}" : '--gres=gpu:1' }
    // }
}