process {
	// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 4     * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 3.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 24.GB * task.attempt }
        time   = { 5.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 12.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 64.GB * task.attempt }
    }

    // This is not needed if using the nf-core/configs profiles
    // These settings are automatically set as part of the humantechnopole nf-core profile
    // resourceLimits = [
    //     cpus: 32,
    //     memory: 550.GB,
    //     time: 30.d
    // ]
    // executor = 'slurm'
    // queue = 'cpuq'
    // beforeScript = 'module load singularity'
}