

params {
	input_file = 'test_input.tsv'
    outdir = 'results'
    reference_genome = '/processing_data/reference_datasets/iGenomes/2025.1/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa'
    publish_mode = 'copy'
}


process {

	// memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3


    withName: FASTP {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
        publishDir = [
            [
                path: "${params.outdir}/reads_qc/fastp",
                mode: params.publish_mode,
            ]
        ]
    }

    withName: BWA_MEM {
        cpus = 4
        memory = 24.Gb
        container = 'community.wave.seqera.io/library/bwa_htslib_samtools:83b50ff84ead50d0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/bwa",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: SAMTOOLS_SORT {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/samtools:1.22--h96c455f_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/merged_bam",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: SAMTOOLS_STATS {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/samtools:1.22--h96c455f_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/qc",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: MOSDEPTH {
        cpus = 4
        memory = 8.Gb
        container = 'quay.io/biocontainers/mosdepth:0.3.12--h0ec343a_0'
        publishDir = [
            [
                path: "${params.outdir}/alignments/coverage",
                mode: params.publish_mode,
            ]
        ]
    }


    withName: MULTIQC {
        cpus = 1
        memory = 2.Gb
        container = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
        publishDir = [
            [
                path: "${params.outdir}/reporting/",
                mode: params.publish_mode,
            ]
        ]
    }

}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = '/project/nextflow_zero2hero/containers/'
}