

params {
	input_file = "${projectDir}/assets/test_input.tsv"
    outdir = 'results'
    reference_genome = '/processing_data/reference_datasets/iGenomes/2025.1/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa'
    publish_mode = 'copy'
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = '/project/nextflow_zero2hero/containers/'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'