// Minimal default resources in case no profile is used 
process {
	cpus   = 1           
    memory = 8.GB
    time   = 1.m 
}

// The following part implement the nf-core institutional profiles loading
// You can reuse this code snippet in your own pipelines to easily load nf-core institutional profiles
params {
	// nf-core profiles config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    hostnames                  = [:]
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null
}

includeConfig (
    params.custom_config_base 
        ? "${params.custom_config_base}/nfcore_custom.config" 
        : '/dev/null'
)

// Profiles definition, each profile is defined as a separate block
// Now we only define the local and singularity profiles
// We can import and use the humantechnopole institutional profile automatically from nf-core 
// This will take care of settings the optimal configuration for our HPC (executor, resourceLimits, etc)
profiles {
	// This is the local profile, for when we are running small tests locally
	local {
		// Here we use the executor cpus and memory settings to limit resource usage
		executor.cpus = 4
		executor.memory = 16.GB

		// Here we configure the process resureces and settings
		process {
			executor = 'local' // We execute on local
			errorStrategy = 'finish' // We don't retry failed tasks in local

			// We set a static resource allocation for all processes in local
			// We suppose to be on a small local interactive session or machine
			cpus   = 2           
    		memory = 8.GB
    		time   = 5.m 

			// This is still needed if we are using singularity containers
			beforeScript = 'module load singularityce/3.10.3'

			// We can include any withName or withLabel selectors here as well
			withName: 'HAPLOTYPECALLER_GPU' {
				queue = 'gpuq'
				containerOptions = '--nv'
				clusterOptions = '--gres=gpu:1'
			}
		}
	}

	slurm {
		executor.queueSize = 3 // Limit the number of concurrent tasks in the queue
		
		// Configure the general process settings for slurm	
		process {
			executor = 'slurm'
			queue = 'cpuq'  

			beforeScript = 'module load singularityce/3.10.3'

			resourceLimits = [
				cpus: 32,
				memory: 550.GB,
				time: 30.d
			]

			// On slurm we want to retry tasks that fail due to OOM or preemption
			errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'finish' }
			maxRetries = 3
		}
		// We can also include other config files in the profiles
		// Here we include the process labels config file
		includeConfig 'process_labels.config'
	}

	// We define a specific profile that allows us to quickly enable singularity settings
	singularity {
        singularity {
			enabled = true
			cacheDir = "/scratch/${env('USER')}/singularity_cache" 
			// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
			runOptions = '--bind /localscratch'
		}
    }
}