// Singularity configuration from exercise 1
singularity {
	enabled = true
	cacheDir = "/scratch/${env('USER')}/singularity_cache" 
	// this can also work: cacheDir = "/scratch/$USER/singularity_cache"
	runOptions = '--bind /localscratch'
}

// Remember the executor scope is used to set general limits for the executor
// In our case we want to limit the queue size to 3, so that only 3 tasks can be queued at any one time
executor {
	queueSize = 3
}

// To tell Nextflow to execute tasks using the SLURM scheduler, we have to set the process directive 'executor' to 'slurm'
// This will apply to all processes unless overridden at the process level
process {
	executor = 'slurm' // set SLURM as the executor for all processes
	queue = 'cpuq'  // set the queue/partition for SLURM
}